<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">

    <span *ngIf="equipmentBeingEdited !== item; else elseBlock">
    <span (click)="edit(item)" class="editable-text">{{item}}</span>
    <button (click)="remove(item)">remove</button>
    </span>
    

    <ng-template #elseBlock>
      <input #updatedEquipment (keyup.enter)="save(updatedEquipment.value, item)" value="{{item}}"/>
      <button (click)="save(updatedEquipment.value, item)">save</button>
    </ng-template> 
  </li>
  
</ul>

<input #newEquipment type="text"/>
<label> New Equipment</label>
<button (click)="add(newEquipment.value)">Add</button>


